/* Text fonts and font face rules */

@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara_Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara_Italic.ttf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara_Bold_Italic.ttf);
  font-style: italic;
  font-weight: bold;
}

/* ------------------------General style------------------------ */

* {
  margin: 0;
  font-family: "candara", "verdana", "Geneva", "Tahoma", "sans-serif";
  text-transform: capitalize;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  /* -webkit-text-size-adjust: 100%; */
}

:root {
  /* color */
  --header-gradient-color: linear-gradient(to top, #38818a, #0550ba);
  --light-blue-color: #00838f;
  --dark-blue-color: #395a79;
  --orange-btn-color: #ed7a3c;
  --backup-color: #181a29;
  --light-grey-btn-color: #d9d9d9;
  --grey-btn-color: #aeaeae;
  --light-grey-input-color: #f3f3f3;

  /* shadow */
  --main-btn-shadow: rgba(0, 0, 0, 0.35) 2px 2px 3px;

  --main-text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;

  /* border */
  --main-border-black: solid #000 1px;
  --main-border-radius: 5px;
  --small-border-radius: 2px;
  --nav-border-radius: 5px 0 0 5px;

  /* transitions */
  --main-transition: all ease-in-out 300ms;
}

/* not displaying */

.hamburger_icon,
.hamburger_container,
.nav-checkbox,
.header_searchbox,
.header_searchbox_tab,
.header_searchbox_mobile,
.popular_products_slider_mobile,
.header_nav_mobile,
.to-top-button-mobile,
.header_logo_mobile,
#fav1,
.mobile-image-slider,
.size-input,
.prod-mob-hdline {
  display: none;
}

/* ------------------------General header/text------------------------ */

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: 1px;
}

p {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 1px;
}

a {
  color: #fff;
}

a:hover {
  opacity: 70%;
}

/* ------------------------Header------------------------ */

header {
  background: var(--header-gradient-color);
  padding: 1.25em 0 1.5625em 0;
}

/* ------------------------Header top menu------------------------ */

.header_top_bottom_menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 min(6.25em) 0 6.25em;
  max-width: 77.5em;
}

.header_top_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 9px;
}

.header_top_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header_info_pages {
  display: flex;
  justify-content: flex-end;
  gap: 1.875rem;
  align-items: center;
  width: 100%;
  font-size: 0.75rem;
  padding: 0;
}

/* ------------------------Header bottom menu------------------------ */

.header_bottom_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo_mobile {
  display: none;
}
.header_logo {
  display: flex;
  width: 13em;
  height: 3.1875em;
}

.category_menu {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -15px;
}

.header_category_container {
  display: flex;
  gap: 7.5rem;
  letter-spacing: 0.05rem;
  font-size: 1.125rem;
  padding-left: 7.5rem;
  margin-bottom: -4px;
}

.header_category_buttons {
  display: flex;
}

.header_searchbox {
  align-items: center;
  display: flex;
  margin-left: 7.5rem;
  gap: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.header_searchbox label {
  cursor: pointer;
}

.searchbox {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.header_icons {
  display: flex;
  padding: 0;
  padding-left: 8.25em;
  margin-bottom: -2px;
  gap: 2.5em;
}

/* ------------------------Header icons and buttons------------------------ */

.header_icon_buttons {
  font-size: 1.125rem;
  text-align: center;
}

.header_icon_text {
  font-size: 0.625rem;
}

/* ------------------------Header and footer------------------------ */

header,
footer {
  color: #fff;
  display: flex;
  justify-content: center;
}

/* ------------------------Footer------------------------ */

footer {
  background-color: var(--dark-blue-color);
  flex-direction: column;
}

.footer p {
  font-size: 1rem;
}

.footer_top_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5625em 6.25em 1.25em 6.25em;
  margin-inline: auto;
  max-width: 77.5em;
}

.footer-contact-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625em;
}

.footer_logo {
  vertical-align: top;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0;
  font-size: 1.125rem;
}

.so_me_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625em;
}

.footer_bottom_container {
  display: flex;
  flex-direction: column;
  gap: 0.9375em;
  padding: 0 6.25em 0.9375em 6.25em;
  margin-inline: auto;
  justify-content: center;
  max-width: 77.5em;
}

.horizontal_line {
  color: #fff;
  opacity: 60%;
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: normal;
}

.copyright p {
  font-size: 0.75rem;
  letter-spacing: 2px;
}

/* ------------------------Index------------------------ */
.index_page_content {
  margin-inline: auto;
  max-width: 77.5em;
}

.index-img-container {
}

.Landingpage-img {
  width: 100%;
}

.index_headline_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 4.375em;
}

.index_headline_container h1 {
  letter-spacing: 3px;
  padding-bottom: 1.5625rem;
}

.index_button_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.25em;
}

.category_button {
  background-color: var(--dark-blue-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-btn-shadow);
  width: 210px;
  height: 42px;
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.category_button:hover {
  opacity: 80%;
}

/* ------------------------Slider/Carousel------------------------ */

.popular_products_container {
  padding-top: 6.25em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.popular_products_container_headline {
  text-align: center;
}

.popular_products_slider {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  gap: 2.5em;
  padding-bottom: 2.5em;
  scroll-snap-type: inline mandatory;
  height: 100%;
  height: fit-content;
}

.slider_group {
  display: grid;
  grid-auto-flow: column;
  gap: 2.1875em;
  scroll-snap-align: start;
  height: 100%;
  height: fit-content;
}

.slider_group:last-child {
  scroll-snap-align: end;
}

.outer_product_container {
  border: solid 1px var(--dark-blue-color);
  width: 13.5em;
  height: 18.75em;
  position: relative; /* This is for making the whole slider frame a link */
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  border-radius: var(--main-border-radius);
  align-items: center;
}

.inner_product_container {
  display: flex;
  flex-direction: column;
  height: 17.5em;
  width: 12.25em;
  box-sizing: border-box;
}

.slider_image_container {
  width: 100%;
  max-height: 12.8125em;
  overflow: hidden;
}

.slider_image_container img {
  height: 12.8125em;
  width: 100%;
  object-fit: cover;
}

.slider_text_container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 1rem;
}

.slider_text_container a::before {
  /* This is for making the whole slider cards a link */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slider_text_container p {
  color: #000;
  font-size: 0.875rem;
  text-overflow: ellipsis;
}

.slider_text_container .slider_price {
  font-size: 1rem;
  font-weight: bold;
}

.outer_product_container:hover img {
  scale: 98%;
  transition: ease-in-out 300ms;
}

.img_supreme_alpine_Jacket_m,
.img_light_down_jacket_w {
  object-position: 0 35%;
}

.img_supreme_down_jacket_m {
  object-position: 0 45%;
}

.img_light_shell_jacket_m {
  object-position: 0 5%;
}

.slider_scroll_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.0625em;
}

/* .scroll_bar_icon,
#solid_circle {
  color: #000;
  font-size: 0.625rem;
  cursor: auto;
}

.scroll_bar_icon:hover,
#solid_circle:hover {
  opacity: 1;
} */

/* ------------------- Index category cards -----------*/

.category_card_container_index {
  padding: 6.25em 0 6.25em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.25em;
}

.womens_category_card,
.mens_category_card {
  height: 14.875em;
  width: 25.375em;
  background-size: cover;
  box-sizing: border-box;
  border-radius: var(--main-border-radius);
  position: relative;
}

.womens_category_card {
  background-image: url(../Images/women-category-button.jpg);
}

.mens_category_card {
  background-image: url(../Images/mens-category-button.jpg);
}

.womens_category_card p,
.mens_category_card p {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.category_card_link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.womens_category_card:hover,
.mens_category_card:hover {
  scale: 99%;
  transition: var(--main-transition);
}

/* --------------------Men's & Women's Product pages------------------ */

.jacket_page_content {
  margin-inline: 13.125em 13.125em;
}

.main_headline {
  padding-top: 2.1875rem;
  padding-bottom: 2.5rem;
}

.filter_card_container {
  display: flex;
  flex-direction: column;
}

.filter_menu {
  display: flex;
  justify-content: flex-end;
}

.filter_menu select {
  border: 0;
  border-bottom: #000 solid 1px;
  padding: 0.25rem 2.8rem 0.3125rem 1rem;
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.product_card_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.875em;
  padding-bottom: 6.25em;
  padding-top: 1.875em;
}

/* ------------------------About Us ------------------------*/

.top_image_container {
  background-color: var(--backup-color); /*backup color if image not work*/
  background-image: url(../images/About-us_main-photo.jpg);
  /* padding-inline: 6.75em; */
  max-width: 100%;
  background-size: cover;
  background-position: center -180px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-text-about {
  display: flex;
  flex-direction: column;
  max-width: 53.75em;
  margin-inline: auto;
  gap: 1.875em;
  color: #fff;
  padding-bottom: 30.4375em;
}

.about_contact_headline {
  padding-top: 6.25rem;
  text-transform: capitalize;
  text-align: left;
  width: 100%;
}

.story_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 53.75em;
  gap: 1.25em;
  padding: 3.75em 0 6.25em 0;
  margin-inline: auto;
}

.story_container p,
.background-text-about p {
  line-height: 1.4;
  text-transform: none;
}

.about-image-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 77.5em;
  justify-content: space-between;
  align-items: center;
  gap: 1.1875em;
  margin-inline: auto;
  padding-bottom: 6.25em;
}

.about-picture1,
.about-picture2,
.about-picture3,
.about-picture4,
.about-picture5 {
  box-sizing: border-box;
  background-size: contain;
  overflow: hidden;
}

.about-picture1 img,
.about-picture2 img,
.about-picture3 img,
.about-picture4 img,
.about-picture5 img {
  object-fit: cover;
  vertical-align: top;
}

.about-picture1 img {
  max-width: 13.3125em;
  height: 16.75em;
}

.about-picture2 img {
  max-width: 12.0625em;
  height: 15.25em;
}

.about-picture3 img {
  max-width: 20.8125em;
  height: 13.1875em;
}

.about-picture4 img {
  max-width: 13.25em;
  height: 16.625em;
}

.about-picture5 img {
  max-width: 13.25em;
  height: 16.625em;
}

/* ------------------------Contact Us ------------------------*/

.contact_page_content {
  background-color: var(--backup-color); /*backup color if image not work*/
  background-image: url(../Images/Contact-us_main-photo.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center 65%;
  background-repeat: no-repeat;
  color: #fff;
}

.background-text-contact {
  padding: 6.25em 0 21em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875em;
  color: #fff;
}

.background-text-contact h1 {
  text-transform: capitalize;
}

.background-text-contact p {
  text-transform: none;
}

.contact_info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10.4375em;
  padding-bottom: 14em;
}

.contact-adress-container {
  display: flex;
  flex-direction: column;
  gap: 0.9375em;
}

.contact-support-container {
  display: flex;
  flex-direction: column;
  gap: 1.6875em;
}

/* --------------------------Product page----------------------- */

.product_top_section {
  display: flex;
  justify-content: space-between;
  height: 30.5em;
  padding: 6.25em 0.3125em 6.25em 0.3125em;
}

/* -------Small image slider----- */

.product-small-slider-outer-container {
  height: 30.5em;
  overflow: scroll;
}

.product-slider-container {
  display: flex;
  flex-direction: column;
  gap: 0.9375em;
  padding-right: 0.625em;
}

.product-small-img-container {
  box-sizing: border-box;
  height: 8.125em;
  width: 6.25em;
  overflow: hidden;
}

.product-small-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-img-1 {
  object-position: 100% 40%;
}

.small-img-4 {
  object-position: 100% 45%;
}

/* ----------Big image Slider------ */

.big-slider-container {
  display: flex;
}

.complete-product-slider {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  width: 434px;
}

.outer-slider-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.outer-img-container {
  display: flex;
  justify-content: center;
  width: 354px;
  height: 488px;
  object-fit: cover;
}

.big-img-container {
  position: absolute;
  z-index: 1;
}

.big-img-container img {
  width: 354px;
  height: 488px;
  vertical-align: top;
  border-radius: var(--main-border-radius);
}

#i1:checked ~ #slide_img_1,
#i2:checked ~ #slide_img_2,
#i3:checked ~ #slide_img_3,
#i4:checked ~ #slide_img_4,
#i5:checked ~ #slide_img_5,
#i6:checked ~ #slide_img_6 {
  z-index: 9;
}

#i1:checked ~ .nav-dots-container #nav-dot1 .nav-dots-icon,
#i2:checked ~ .nav-dots-container #nav-dot2 .nav-dots-icon,
#i3:checked ~ .nav-dots-container #nav-dot3 .nav-dots-icon,
#i4:checked ~ .nav-dots-container #nav-dot4 .nav-dots-icon,
#i5:checked ~ .nav-dots-container #nav-dot5 .nav-dots-icon,
#i6:checked ~ .nav-dots-container #nav-dot6 .nav-dots-icon {
  color: var(--light-blue-color);
  font-weight: bold;
  font-size: 0.875rem;
}

.nav-dots-container {
  position: absolute;
  bottom: -30px;
  z-index: 10;
}

.nav-dots-icon {
  font-size: 0.75rem;
  cursor: pointer;
}

/* left -and right arrow */

.left-arrow,
.right-arrow {
  position: absolute;
  top: 47%;
  z-index: 99;
  cursor: pointer;
}

.left-arrow {
  left: -46px;
}

.right-arrow {
  right: -46px;
}

.left-arrow-span,
.right-arrow-span {
  display: flex;
  align-items: center;
}

.left-arrow-span:hover,
.right-arrow-span:hover {
  opacity: 70%;
}

.product-slider-arrow-left,
.product-slider-arrow-right {
  color: black;
  font-size: 0.875rem;
  z-index: 2;
}

.product-slider-arrow-circle,
.product-slider-arrow-circle {
  color: white;
  font-size: 1.75rem;
  text-shadow: var(--main-text-shadow);
}

/* ----------Choices container------ */

.product-choises-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_choises_headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.product_choises_headline h1 {
  text-transform: capitalize;
  text-align: left;
}

.product_choises_list ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-left: 20px;
}

.product_choises_list li {
  list-style: disc;
}

.product_choises_list p {
  text-transform: none;
}

.product_choises_list p,
.product_choises_size_container p,
.size_option_button_container p {
  font-size: 1rem;
}

.product_choises_size_container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.size_option_container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  gap: 9px;
}

.size-button-container {
  display: flex;
  box-sizing: border-box;
  width: 50px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  border-radius: var(--small-border-radius);
  text-align: center;
  cursor: pointer;
  position: relative;
}

.size-button-container:hover {
  scale: 1.1;
  border: var(--light-blue-color) solid 2px;
  border-radius: var(--small-border-radius);
}

.sizes label {
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}

.size-button-container label::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.size_option_container #size_s:checked ~ .sizes #size1,
.size_option_container #size_m:checked ~ .sizes #size2,
.size_option_container #size_l:checked ~ .sizes #size3,
.size_option_container #size_xl:checked ~ .sizes #size4,
.size_option_container #size_xxl:checked ~ .sizes #size5 {
  scale: 1.1;
  border: solid var(--light-blue-color) 3px;
  border-radius: var(--small-border-radius);
}

.price-container p {
  font-size: 1.75rem;
  font-weight: bold;
}

.product_button_container {
  display: flex;
  gap: 50px;
}

.add_to_cart_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background-color: var(--orange-btn-color);
  padding: 9px 40px;
  border-radius: var(--main-border-radius);
  position: relative;
  box-shadow: var(--main-btn-shadow);
}

.add_to_cart_button p {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.add_to_cart_button a {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.add_to_cart_button:hover {
  opacity: 70%;
}

.add_to_favorites_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
  background-color: transparent;
}

.add_to_favorites_button p {
  font-size: 0.75rem;
  font-weight: bold;
}

.fav_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
}

.fav_btn:hover {
  scale: 1.1;
  color: var(--light-blue-color);
}

.fav_btn:active {
  font-weight: 900;
}

#fav1:checked ~ label .fav_btn {
  font-weight: bold;
  color: var(--light-blue-color);
}

.product_detail_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product_detail_container p {
  font-size: 1rem;
  letter-spacing: 1.5px;
  line-height: 1.4;
}

.product_detail_list_container ul {
  padding-left: 2em;
}

.product_detail_list_container li {
  list-style: disc;
}

.complete_pop_prod_cont {
  padding-bottom: 6.25em;
}

/* ---------------Shopping Cart Page---------------------- */

.cart-checkout-headline {
  padding-block: 6.25rem;
}

.item-cost-section {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 535px;
  margin-inline: auto;
  gap: 50px;
}

/* item container */

.cart-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: var(--main-border-black);
  border-bottom: var(--main-border-black);
  padding-block: 20px;
  width: 100%;
}

.cart-item-container-img {
  max-width: 57px;
  height: 88px;
}

.cart-item-container-img img {
  width: 100%;
  height: 100%;
  border-radius: var(--main-border-radius);
}

.cart-item-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  cursor: pointer;
}

.cart-item-info-container a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cart-price-container,
.color-container,
.size-container,
.qty-container {
  display: flex;
  gap: 10px;
}

.item-name {
  font-size: 1rem;
  letter-spacing: 2px;
}

.color-container p,
.size-container p {
  font-size: 0.75rem;
}

.size-text {
  text-transform: uppercase;
}

.cart-price-container {
  border-bottom: var(--main-border-black);
  width: fit-content;
}

.cart-price-container p {
  font-size: 0.875rem;
  font-weight: bold;
}

.qty-container {
  gap: 15px;
  align-items: center;
}

.minus-btn,
.plus-btn,
.del-btn {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  max-height: 2rem;
}

.del-btn {
  font-size: 0.625rem;
  max-height: 1.25rem;
}

.qty-circle {
  color: var(--light-grey-btn-color);
  position: static;
}

.qty-minus,
.qty-plus,
.qty-del {
  color: black;
}

/* cost container */

.cost-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.item-cost-container,
.shipping-cost-container,
.total-cost-container {
  display: flex;
  gap: 10px;
}

.item-cost-container p,
.shipping-cost-container p {
  font-size: 0.875rem;
}

.total-cost-container {
  border-bottom: var(--main-border-black);
}

.total-cost-container h3 {
  font-size: 1.25rem;
}

.checkout-btn,
.continue-shopping-btn {
  border: 0;
  background-color: transparent;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-btn-shadow);
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
}

.checkout-btn {
  background-color: var(--orange-btn-color);
  padding: 10px 40px;
  font-size: 1.25rem;
}

.continue-shopping-btn {
  background-color: var(--grey-btn-color);
  padding: 8px 20px;
  font-size: 1rem;
}

.continue-shopping-btn a {
  color: black;
}

.checkout-btn a::before,
.continue-shopping-btn a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.continue-shopping-btn:hover,
.checkout-btn:hover {
  opacity: 70%;
}

/* product slider */

.cart-headline {
  padding: 0;
}

/* ----------------Checkout page-------------- */

.complete-checkout-page-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 535px;
  margin-inline: auto;
  gap: 50px;
  padding-bottom: 6.25em;
}

.complete-checkout-page-wrapper h2 {
  font-size: 1.25rem;
}

/* Order summary */

.order-summary-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.checkout-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: var(--main-border-black);
  border-bottom: var(--main-border-black);
  padding-block: 20px;
  width: 100%;
}

.checkout-qty-container {
  display: flex;
  gap: 10px;
}

.checkout-qty-container p {
  font-size: 0.875rem;
}

/* shipping and billing information */

.shipping-container,
.billing-container,
.shipping-form,
.billing-form {
  display: flex;
  flex-direction: column;
}

.shipping-container,
.billing-container {
  gap: 30px;
}

.shipping-form,
.billing-form {
  letter-spacing: 2px;
  gap: 20px;
}

.name-shipping-container,
.address-container,
.zip-code-container,
.city-container,
.country-container,
.name-billing-container,
.card-container,
.expiration-container,
.CVV-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.name-shipping-container input,
.address-container input,
.zip-code-container input,
.city-container input,
.country-container input,
.name-billing-container input,
.card-container input,
.expiration-container input,
.CVV-container input {
  border: 0;
  border-bottom: var(--main-border-black);
  background-color: var(--light-grey-input-color);
  height: 30px;
}

.zip-code-container {
  max-width: 210px;
}
.expiration-container {
  max-width: 230px;
}

.CVV-container {
  max-width: 125px;
}

.CVV-container span {
  text-transform: uppercase;
}

/* ---------------Chekout-Success Page------------ */

.success-page {
  display: flex;
  flex-direction: column;
  gap: 4.375em;
  padding: 6.25em 0 16.15em; /*bottom padding to get footer to end of page*/
  max-width: 719px;
  margin-inline: auto;
  align-items: flex-end;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 719px;
  height: 394px;
  border: solid var(--light-blue-color);
  border-radius: var(--main-border-radius);
}

.success-container h2 {
  font-size: 1.25rem;
  font-weight: normal;
}

.success-h1 {
  padding: 0;
  text-align: inherit;
  text-transform: capitalize;
}

.success-headline {
  display: flex;
  align-items: center;
  gap: 30px;
}

.success-icon {
  max-height: 62px;
  max-width: 62px;
}

.success-icon i {
  font-size: 62px;
  max-height: 62px;
}

.success-check-icon {
  color: white;
}

.success-circle-icon {
  color: #00838f;
}

.order_number-container,
.payment-container {
  display: flex;
  gap: 30px;
}

.order_number-container p,
.payment-container p {
  font-size: 1rem;
}

.success-btn {
  background-color: var(--orange-btn-color);
}

.success-btn a {
  color: white;
}

/* ------------Favourites Page----------- */

.favourites-content {
  max-width: 860px;
  margin-inline: auto;
  padding-inline: 1.875em;
}

.fav-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-block: 6.25em;
}

.fav-headline h2 {
  font-weight: normal;
}

.complete-fav-item-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fav-item-container-row-1,
.fav-item-container-row-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.fav-item-container {
  max-width: 375px;
  padding-block: 15px;
}

.fav-checkbox-div {
  height: 100%;
  text-align: center;
}

.fav-checkbox-label {
  display: inline-block;
  width: 16px;
  height: 20px;
  border: var(--main-border-black);
  border-radius: var(--small-border-radius);
}

.checkbox-arrow {
  color: var(--light-blue-color);
  display: none;
}

.fav-checkbox-label:hover {
  scale: 1.1;
  border: solid 2px var(--light-blue-color);
}

#fav-checkbox1,
#fav-checkbox2,
#fav-checkbox3,
#fav-checkbox4 {
  display: none;
}

#fav-checkbox1:checked ~ .fav-checkbox-label,
#fav-checkbox2:checked ~ .fav-checkbox-label,
#fav-checkbox3:checked ~ .fav-checkbox-label,
#fav-checkbox4:checked ~ .fav-checkbox-label {
  scale: 1.1;
  border: solid 2px var(--light-blue-color);
}

#fav-checkbox1:checked ~ .fav-checkbox-label .checkbox-arrow,
#fav-checkbox2:checked ~ .fav-checkbox-label .checkbox-arrow,
#fav-checkbox3:checked ~ .fav-checkbox-label .checkbox-arrow,
#fav-checkbox4:checked ~ .fav-checkbox-label .checkbox-arrow {
  display: inline-block;
}

.fav-buttons {
  padding: 3.125em 0 7em; /*bottom padding to get footer to end of page*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.add_btn {
  background-color: var(--orange-btn-color);
  padding: 10px 40px;
  font-size: 1.25rem;
  max-width: fit-content;
}

.del_btn {
  max-width: fit-content;
  font-size: 1.25rem;
}

/* ---------Favourites-Empty Page---------- */

.fav-empty-content {
  margin-inline: auto;
  max-width: 1000px; /*just for auto-margin*/
}

.fav-empty-headline {
  display: flex;
  flex-direction: column;
  gap: 1.875em;
  padding: 6.25em 0 9.375em 0;
  text-align: center;
}

.fav-empty-cont-text-container {
  text-align: center;
  color: var(--light-blue-color);
  padding-bottom: 29.9em;
}

.fav-empty-cont-text-container h2 {
  text-decoration: underline;
}

/* -------Icons and buttons------------*/
.cart-icon,
.header-heart-icon,
.hamburger-icon,
.header_searchbox,
.header_searchbox_tab,
.header_searchbox_mobile {
  color: #fff;
  cursor: pointer;
}
.cart-icon:hover,
.header-heart-icon:hover .search-icon:hover,
.hamburger-icon:hover {
  opacity: 70%;
}

/* social media icons */

.fa-brands {
  font-size: 1.25rem;
}

/* to top arrow/button */

.to-top-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.625rem;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  gap: 5px;
  border: 0;
  background-color: transparent;
}

.to-top-button p {
  font-size: 0.75rem;
  color: white;
}

footer .fa-arrow-up {
  color: black;
}
.to-top-button-mobile span:hover,
.to-top-button span:hover {
  color: black;
  opacity: 70%;
}

.to-top-circle {
  text-shadow: var(--main-text-shadow);
}

/* -------------------------tablet/mobile version----------------------- */

@media (width <= 1160px) {
  .Desktop_version,
  .header_icon_text,
  .header_searchbox,
  header,
  .product-small-slider-outer-container,
  .big-slider-container {
    display: none;
  }

  /* ------------Header -------------------*/

  .header_tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25em 1.875em 0 1.875em;
  }

  .header_bottom_menu_tab {
    padding: 1.5em 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_logo_container {
    float: left;
  }

  .category_menu {
    margin-left: 0.625em;
  }

  .header_searchbox_tab {
    display: flex;
    position: relative;
    bottom: 1.625em;
    align-items: center;
    width: 30%;
    padding-bottom: 5px;
    border-bottom: solid 1px #fff;
  }

  .header_searchbox_mobile label,
  .header_searchbox_tab label {
    cursor: pointer;
  }

  .header_icons {
    margin: 0;
    padding-left: 0;
    gap: 1.9375em;
  }

  .header_icon_buttons {
    display: flex;
    /* font-size: 1.5rem; delete for origin design(made bigger than Figma design) */
  }

  .header_nav_tab {
    position: absolute;
    top: 7.625em;
    right: 0;
    z-index: 2;
  }

  .header_nav_mobile ul {
    display: flex;
    background-color: #c2c2c2;
    flex-direction: column;
    padding: 0;
    text-align: center;
    border-radius: var(--nav-border-radius);
  }

  .header_nav_mobile ul li {
    border-radius: var(--nav-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_nav_mobile ul li a {
    justify-content: center;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 1rem;
    padding: 7.5px 5px;
    border-radius: var(--nav-border-radius);
    height: 1.9375rem;
    width: 10.625rem;
  }

  .hamburger_container {
    display: flex;
    z-index: 99;
  }

  .header_nav_mobile a:active {
    background-color: var(--light-blue-color);
    color: #fff;
  }

  .hamburger_container #nav:checked ~ .header_nav_mobile {
    display: flex;
  }

  /* -----------------Footer------------------- */

  .footer_top_container {
    padding-inline: 1.875em;
  }

  .footer_bottom_container {
    padding-inline: 1.875em;
  }

  /* ------------------Index page-------------- */

  .index_page_content {
    padding-inline: 1.875em;
  }

  .popular_products_slider {
    scroll-snap-align: start;
    gap: 0.9375em;
    padding-bottom: 1.25em;
  }

  .slider_group {
    gap: 0.9375em;
  }

  .outer_product_container {
    scroll-snap-align: start;
  }

  .last_slider_group:last-child {
    scroll-snap-align: end;
  }

  /*--------------Category Card ----------------*/

  .category_card_container_index {
    padding-top: 3.125em;
  }

  /* ---------------Men's and women's jacket pages--------------- */

  .jacket_page_content_tab {
    display: flex;
    margin: 0;
  }

  /* --------------------About Us--------------------- */

  .top_image_container {
    padding-inline: 1.875em;
  }

  .background-text-about {
    padding: 0 0 30.4375em 0;
  }

  .story_container {
    display: flex;
    padding: 4.375em 1.875em 4.375em 1.875em;
  }

  .about-image-container {
    padding: 0 1.875em 4.375em 1.875em;
  }

  /* ------------------product page------------------ */

  .product_top_section {
    padding-inline: 0;
    justify-content: left;
    height: 100%;
    gap: 30px;
  }

  .mobile-image-slider {
    display: flex;
    overflow: auto;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
    max-width: 340px;
    gap: 15px;
    padding-bottom: 15px;
  }

  .mobile-img-container {
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }

  .mobile-image-slider:first-child {
    scroll-snap-align: start;
  }

  .mobile-image-slider:last-child {
    scroll-snap-align: end;
  }

  .mobile-img-container img {
    max-width: 280px;
    height: 428px;
    vertical-align: top;
    border-radius: var(--main-border-radius);
  }

  .product-choises-container {
    width: 100%;
  }

  .pop_prod_hdline {
    align-items: center;
  }
}

/* --------------------------- Media mobile version -------------------------- */

@media (width <= 850px) {
  .header_tab,
  .header_bottom_menu_tab,
  .footer_top_container,
  .to-top-button,
  .header_logo,
  .jacket_page_content,
  .filter_card_container,
  .filter_menu,
  .product_card_list,
  .footer_bottom_container,
  .product_choises_headline,
  .product_choises_list {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

  /* --------------header mobile version----------------- */

  .header_mobile {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1.5em 1.875em 0.5625em 1.875em;
  }

  .header_bottom_menu_mobile {
    padding: 0 0 1.25em 0;
    display: flex;
  }

  .header_logo_mobile {
    display: flex;
    /* width: 8.75em; */ /*original Figma size (looks to small on website)*/
    /* height: 2.125em; */ /*original Figma size (looks to small on website)*/
    width: 10em;
    height: 3em;
  }

  .header_nav_mobile {
    position: absolute;
    top: 100%;
    right: 0;
  }

  .header_searchbox_mobile {
    display: flex;
    position: static;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px #fff;
  }

  #mobile_search {
    width: 100%;
  }

  .header_icon_buttons {
    display: flex;
    /* font-size: 1.5rem; delete for origin design(made bigger than Figma design) */
  }
  /* ------------Footer mobile version -------------*/

  .footer_top_container_mobile {
    display: flex;
    flex-direction: column;
    gap: 3.75em;
    margin: 0 1.875em 0 1.875em;
    padding-inline: 0;
  }

  .contact_top_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_contact_mobile {
    flex-direction: column;
    justify-content: space-between;
  }

  .footer_nav ul {
    flex-direction: row;
    justify-content: center;
  }

  .so_me_container {
    justify-content: center;
  }

  .to-top-button-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.625rem;
    gap: 5px;
  }

  .to-top-button-mobile p {
    font-size: 0.75rem;
  }

  .footer_bottom_container_mobile {
    display: flex;
    margin-inline: 1.875em;
    padding-inline: 0;
  }

  /* ---------------------Index Page------------------ */

  .index_page_content {
    margin: 0 1.875em 0 1.875em;
    padding-inline: 0;
  }

  .index_headline_container {
    padding-top: 3.125em;
  }

  .index_headline_container h1 {
    padding-bottom: 1.875rem;
  }

  .popular_products_container {
    padding-top: 3.125em;
  }

  .category_card_container_index {
    padding-bottom: 4.375em;
  }

  .womens_category_card,
  .mens_category_card {
    max-height: 10.25em;
    max-width: 18.75em;
    background-position-y: 45%;
  }

  .womens_category_card p,
  .mens_category_card p {
    padding-top: 1rem;
    font-size: 1rem;
    letter-spacing: 2px;
  }

  /* -------------Men's and women's jacket pages------- */

  .jacket_page_content_mobile {
    display: flex;
    margin: 0;
  }

  .filter_card_container_mobile {
    display: flex;
    flex-direction: column;
  }

  .filter_menu_mobile {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .product_card_list_mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.875em;
    padding-bottom: 4.375em;
  }

  /* ------------About Us---------- */

  .top_image_container {
    max-height: 600px;
    background-position: 50% 0;
  }

  .about_contact_headline {
    padding-top: 3.125rem;
  }

  .story_container {
    padding: 1.875em 1.875em 4.375em 1.875em;
  }

  .about-image-container {
    justify-content: center;
  }

  /* ------------Contact Us------------- */

  .contact_page_content {
    display: flex;
    flex-direction: column;
    padding-inline: 1.875em;
    background-position: center 60%;
    background-size: 100vh;
  }

  .background-text-contact {
    align-items: flex-start;
    padding: 3.125em 0 12em 0;
  }

  .background-text-contact h1 {
    text-align: left;
  }

  .contact_info {
    flex-direction: column-reverse;
    gap: 6.25em;
    padding-bottom: 4.375em;
  }

  /* -------------Product Page--------- */

  .prod-mob-hdline {
    display: block;
  }

  .product_top_section {
    flex-direction: column;
    align-items: center;
    padding: 4.375em 0 3.125em 0;
    gap: 3.125em;
  }

  .product_top_section h1 {
    text-transform: capitalize;
  }

  .product-choises-container {
    gap: 2.5em;
    max-width: 21.25em;
  }

  .product-choises-container + p {
    font-size: 0.875rem;
  }

  .price-container p {
    font-size: 1.5rem;
  }

  .product_button_container {
    justify-content: space-between;
    gap: unset;
  }

  .add_to_cart_button {
    padding: 0.3125em 1.875em;
    margin-right: 0.3125em;
  }

  .add_to_favorites_button p {
    font-size: 0.625rem;
    margin-left: 0.3125rem;
  }

  .complete_pop_prod_cont {
    padding-bottom: 4.375em;
  }

  /* ---------------Shopping Cart Page------------- */

  .cart-headline {
    padding: 4.375rem 0 3.125rem 0;
  }

  /* item container */

  .cart-item-container {
    padding-block: 15px;
  }

  .cart-item-container-img {
    max-width: 41px;
    height: 63px;
  }

  .cart-item-info-container {
    gap: 5px;
  }

  .item-name {
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-overflow: ellipsis;
  }

  .color-container p,
  .size-container p,
  .cart-price-container p {
    font-size: 0.625rem;
  }

  .qty-container {
    flex-direction: column-reverse;
    gap: 7.5px;
  }

  .plus-btn,
  .minus-btn {
    font-size: 0.875rem;
  }

  /* cost container */

  .item-cost-container p,
  .shipping-cost-container p {
    font-size: 0.875rem;
  }

  .total-cost-container h3 {
    font-size: 1rem;
  }

  .cost-container {
    padding-bottom: 1.25em;
  }

  /* --------checkout page--------- */

  .cart-checkout-headline {
    padding: 4.375rem 0 3.125rem 0;
  }

  .complete-checkout-page-wrapper {
    max-width: 300px;
    padding-bottom: 4.375em;
  }

  .cost-container-checkout {
    padding-bottom: 0;
  }

  /* ---------Success Page--------- */

  .success-page {
    max-width: 300px;
    gap: 3.125em;
    padding: 4.375em 0 12.45em;
  }

  .success-container {
    gap: 30px;
    max-width: 300px;
    max-height: 330px;
  }

  .success-headline {
    gap: 10px;
  }

  .success-headline h1 {
    letter-spacing: 1px;
  }

  .success-container h2 {
    font-size: 1rem;
    text-align: center;
  }

  .success-container p {
    font-size: 0.875rem;
  }

  .success-icon {
    max-height: 32px;
    max-width: 32px;
  }

  .success-icon i {
    font-size: 32px;
    max-height: 32px;
    line-height: 1;
  }

  /* ------------Favourites Page----------- */

  .favourites-content {
    max-width: 300px;
    margin-inline: auto;
    padding-inline: 0;
  }

  .fav-headline {
    text-align: center;
    padding: 4.375em 0 3.125em;
  }

  .fav-buttons {
    padding-bottom: 4.375em;
  }

  /* ------Favourites-Empty Page------ */

  .fav-empty-content {
    max-width: 300px; /*just for auto-margin*/
  }

  .fav-empty-headline {
    padding: 4, 375em 0 6.25em 0;
    text-align: center;
  }

  .fav-empty-cont-text-container {
    text-align: center;
    color: var(--light-blue-color);
    padding-bottom: 17.9em;
  }
}
