/* Text fonts and font face rules */

@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara_Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara_Italic.ttf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara_Bold_Italic.ttf);
  font-style: italic;
  font-weight: bold;
}

/* General style */

* {
  margin: 0;
  font-family: "candara", "verdana", "Geneva", "Tahoma", "sans-serif";
  text-transform: capitalize;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.mobile_version {
  display: none;
}

/* General header/text */

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

/* Body */

/* Header */

header {
  background: linear-gradient(to top, #38818a, #0550ba);
  padding: 20px 0 25px 0;
}

/* Header top menu */

.header_top_bottom_menu {
  display: flex;
  flex-direction: column;
}

.header_top_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 9px;
  max-width: 1240px;
}

.header_top_container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1240px;
}

.header_info_pages {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
  width: 100%;
  font-size: 0.75rem;
  padding: 0;
}

/* Header bottom menu */

.header_bottom_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gry;
  max-width: 1240px;
}

.header_bottom_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo {
  width: 13em;
  height: 3.1875em;
}

.category_menu {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -15px;
}

.header_category_container {
  display: flex;
  gap: 120px;
  letter-spacing: 0.05rem;
  font-size: 1.125rem;
  padding-left: 120px;
  margin-bottom: -4px;
}

.header_category_buttons {
  display: flex;
}

.header_searchbox {
  display: flex;
  margin-left: 120px;
  gap: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#searchbox {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 1rem;
}

.header_icons {
  display: flex;
  padding: 0;
  padding-left: 132px;
  margin-bottom: -2px;
  gap: 40px;
}

/* Header icons and buttons */

.header_icon_buttons {
  font-size: 1.125rem;
  text-align: center;
}

.header_icon_text {
  font-size: 0.625rem;
}

.fa-magnifying-glass {
  font-size: 1rem;
}

.checkbox {
  display: none;
}

.hamburger_icon, .hamburger_menu {
  /* display: none; */
}

/* Header and footer */

header,
footer {
  color: #fff;
  display: flex;
  justify-content: center;
}

/* Footer */

footer {
  background-color: #395a79;
}

.footer-contact-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.copyright {
  text-align: center;
  font-weight: normal;
  font-size: 0.6rem;
  border-top-color: #fff;
  border-top-style: outset;
  border-top-width: 0.1rem;
  padding: 1rem;
}

a {
  color: #fff;
}

a:hover {
  opacity: 70%;
}

/* Index */

.Landingpage-img {
  max-width: 100%;
  box-sizing: content-box;
}

/* About us */

.about-background {
  background-image: url(../Photos/About\ us_main\ photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.about-background-text {
  padding-left: 18.125rem;
  padding-right: 6.25rem;
  padding-top: 11.25rem;
  padding-bottom: 28.25rem;
}

.about-picture1,
.about-picture2,
.about-picture3,
.about-picture4,
.about-picture5 {
  max-width: 15%;
}

/* Icons and buttons*/

.fa-solid {
  color: #fff;
}

.fa-solid:hover {
  opacity: 70%;
}

.fa-fw {
  font-size: 1.1em;
}

.fa-brands {
  font-size: 1.25rem;
}

.home-button {
  font-size: 0.65rem;
  padding-top: 45px;
  padding-left: 100px;
}

.home-button:hover {
  opacity: 70%;
}

.fa-house-chimney {
  font-size: 0.75rem;
  color: #00838f;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.5px;
}

.to-top-button {
  font-size: 0.625rem;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  position: relative;
  left: 100px;
  bottom: 100px;
}

.fa-arrow-up {
  color: black;
}

.fa-stack:hover {
  color: #000;
  opacity: 50%;
}

/* Media queries */


@media screen and (max-width: 1160px) {
  .Desktop_version, .header_icon_text {
    display: none;
  }
  .mobile_version {
    display: flex;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
  }

  .hamburger_container {
    border: solid 1px;
    display: flex;
    text-align: center;
  }

  .hamburger_container ul {
    padding: 0 50px;
  }
}
