@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara_Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara_Italic.ttf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "candara", "Verdana", "Geneva", "Tahoma", "sans-serif";
  src: url(../candara-font-family/Candara_Bold_Italic.ttf);
  font-style: italic;
  font-weight: bold;
}

body {
  font-family: "candara", "verdana", "Geneva", "Tahoma", "sans-serif";
}

h1,
h2,
h3 {
  font-family: "candara";
  font-style: normal;
  font-weight: bold;
}

header,
footer {
  background-color: #395a79;
  color: #fff;
}

nav li {
  display: inline-block;
}

.header-category-buttons {
  text-decoration: none;
}

.copyright {
  text-align: center;
}

.about-background {
  background-image: url(../Photos/About\ us_main\ photo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  max-height: 768px;
  min-height: 383px;
  color: #fff;
}

.about-picture1,
.about-picture2,
.about-picture3,
.about-picture4,
.about-picture5 {
 max-width: 15%;
}
